/node_modules
/dist
/_mac
.vagrant
.idea
/inspection
/public/build
/codestyles
/config/local.js
/app/routes/local.js

debugger.xml
ignore.xml
ui.lnf.xml
filetypes.xml
find.xml
ui.lnf.xml
npm-debug.log
baseRefactoring.xml
editor.xml
ide.general.xml

.DS_Store
standardjs-error.log
